header {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  height: 3em;
  background: #eee;
}

a {
  display: flex;
  align-items: center;

  text-decoration: inherit;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

span {
  font-size: 1.4em;
}

img {
  height: 2em;
  padding-right: 0.5em;
}
