<main>
  <h1>Stock</h1>
  <div class="content">
    <nav>
      <button title="Rafraichir">Rafraichir</button>
      <button routerLink="create" title="Ajouter">Ajouter</button>
    </nav>
    <table>
      <caption hidden>
        Stock
      </caption>
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tournevis</td>
          <td>2.50</td>
          <td>120</td>
        </tr>
        <tr>
          <td>Tournevis</td>
          <td>2.50</td>
          <td>120</td>
        </tr>
        <tr>
          <td>Tournevis</td>
          <td>2.50</td>
          <td>120</td>
        </tr>
        <tr>
          <td>Tournevis</td>
          <td>2.50</td>
          <td>120</td>
        </tr>
        <tr>
          <td>Tournevis</td>
          <td>2.50</td>
          <td>120</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
