<main>
  <h1>Stock</h1>
  <div class="content">
    <nav>
      <button title="Rafraichir"><fa-icon [icon]="faRedoAlt"></fa-icon></button>
      <button routerLink="create" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </nav>
    <table>
      <caption hidden>
        Stock
      </caption>
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of articleService.articles">
          <td>{{ a.name }}</td>
          <td>{{ a.price }}</td>
          <td>{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
