<main>
  <h1>Stock</h1>
  <div class="content">
    <nav>
      <button (click)="refresh()" title="Rafraichir"><fa-icon [icon]="faRedoAlt"></fa-icon></button>
      <button routerLink="create" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button (click)="remove()" title="Supprimer" *ngIf="selectedArticles.length > 0">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </nav>
    <table>
      <caption hidden>
        Stock
      </caption>
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let a of articleService.articles"
          (click)="toggle(a)"
          [class.selected]="selectedArticles.includes(a)"
        >
          <td [title]="a.name">{{ a.name | ellipsis : 15 }}</td>
          <td>{{ a.price }}</td>
          <td>{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
