<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt ab quam,
    rerum facere, consequatur sint dolorem eaque laborum aut culpa explicabo sit
    doloribus saepe veniam blanditiis? Quam impedit aut quos?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi
    quod molestias, consequatur doloremque id voluptates at error et, veniam
    saepe repellat! Laborum nihil illo doloremque. Ipsa excepturi dolorum minus?
  </p>
</main>
