/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

button {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  background: #eee;
  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: #ddd;
      background: #ddd;
    }

    &:active {
      border-color: #ccc;
      background: #ccc;
    }

    &.primary {
      border-color: #333;
      background: #333;
      color: white;

      &:hover {
        border-color: #444;
        background: #444;
      }

      &:active {
        border-color: #555;
        background: #555;
      }
    }
  }
}
